# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
six==1.14.0


#img
tqdm
pillow


# tests/linter


# API
# gcsfs
# google-cloud-storage
# uvicorn
requests
streamlit

# utilities
# joblib
# memoized-property
# termcolor
