# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
six==1.14.0


#img
tqdm
pillow


# tests/linter

# API
requests
streamlit

# utilities
opencv-python
mediapipe
numpy==1.18.5

ffmpeg
libsm6
libxext6
