# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
six==1.14.0
numpy==1.18.5
pandas
scikit-learn
tensorflow

#img
matplotlib
cv2
imghdr
tqdm
PIL


# tests/linter
black
coverage
flake8
pytest
yapf
python-gitlab

# API
gcsfs
google-cloud-storage
mlflow
s3fs
uvicorn
fastapi
requests
streamlit

# utilities
six>=1.14
joblib
memoized-property
termcolor
